n8n/workflows/cv-screening.json
{
  "id": "cv-screening-pipeline",
  "name": "CV Screening Pipeline",
  "active": false,
  "isArchived": false,
  "createdAt": "2026-03-20T00:00:00.000Z",
  "updatedAt": "2026-03-20T00:00:00.000Z",
  "activeVersionId": null,
  "settings": {
    "executionOrder": "v1"
  },
  "nodes": [
    {
      "id": "node-file-trigger",
      "name": "Watch incoming_cvs",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [200, 300],
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/incoming_cvs",
        "events": ["add"],
        "options": {
          "awaitWriteFinish": true,
          "ignoreInitial": true,
          "usePolling": true
        }
      }
    },
    {
      "id": "node-http-process",
      "name": "Process CV",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [440, 300],
      "parameters": {
        "method": "POST",
        "url": "http://backend:8000/api/v1/process-file",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ path: $json.path }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      }
    },
    {
      "id": "node-check-status",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [660, 300],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 201
            }
          ]
        }
      }
    },
    {
      "id": "node-log-success",
      "name": "Done",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 180],
      "parameters": {}
    },
    {
      "id": "node-log-failed",
      "name": "Failed",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [880, 420],
      "parameters": {}
    }
  ],
  "connections": {
    "Watch incoming_cvs": {
      "main": [
        [{ "node": "Process CV", "type": "main", "index": 0 }]
      ]
    },
    "Process CV": {
      "main": [
        [{ "node": "Success?", "type": "main", "index": 0 }]
      ]
    },
    "Success?": {
      "main": [
        [{ "node": "Done", "type": "main", "index": 0 }],
        [{ "node": "Failed", "type": "main", "index": 0 }]
      ]
    }
  }
}
